@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .spinner {
    --size: 30px;
    --first-block-clr: #32449c;
    --second-block-clr: #ef8b16;
    --clr: #111;
    width: 100px;
    height: 100px;
    position: relative;
  }

  .spinner::after,
  .spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--first-block-clr);
  }

  .spinner::after {
    background: var(--second-block-clr);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  }

  @keyframes down {
    0%,
    100% {
      transform: none;
    }

    25% {
      transform: translateX(100%);
    }

    50% {
      transform: translateX(100%) translateY(100%);
    }

    75% {
      transform: translateY(100%);
    }
  }

  @keyframes up {
    0%,
    100% {
      transform: none;
    }

    25% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(-100%) translateY(-100%);
    }

    75% {
      transform: translateY(-100%);
    }
  }
}

@layer base {
  :root {
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --aretex-background: 217 217 217; /*#D9D9D9*/
    --aretex-foreground: 57 57 57; /*#393939*/

    --aretex-white: 249 249 249; /*#F9F9F9*/
    --aretex-white-hover: 136 136 136; /*#888888*/

    --aretex-black: 57 57 57; /*#393939*/
    --aretex-black-hover: 109 109 109; /*#6D6D6D*/
    --aretex-black-darker: 32 32 32; /*#202020*/

    --aretex-grey: 239 239 239; /*#EFEFEF*/
    --aretex-grey-hover: 208 208 208; /*#D0D0D0*/

    --aretex-darkgrey: 107 107 114; /*#6B6B72*/
    --aretex-darkgrey-hover: 86 86 86; /*#565656*/

    --aretex-lightgrey: 161 161 170; /*#A1A1AA*/
    --aretex-lightgrey-hover: 225 226 228; /*#E1E2E4*/

    --aretex-orange: 239 139 22; /*#EF8B16*/
    --aretex-orange-hover: 186 89 20; /*#BA5914*/

    --aretex-blue: 50 68 156; /*#32449C*/
    --aretex-blue-hover: 84 127 221; /*#547FDD*/

    --aretex-lightblue: 69 194 249; /*#45C2F9*/
    --aretex-lightblue-hover: 125 211 252; /*#7dd3fc*/

    --aretex-green: 0 93 56; /*#005D38*/
    --aretex-green-hover: 0 103 54; /*#006736*/

    --aretex-red: 226 68 91; /*#E2445B*/
    --aretex-red-hover: 175 33 64; /*#AF2140*/

    --aretex-yellow: 255 207 76; /*#FFCF4C*/
    --aretex-yellow-hover: 255 227 136; /*#FFE388*/

    --aretex-purple: 164 75 253; /*#A44BFD*/
    --aretex-purple-hover: 190 128 255; /*#be80ff*/

    --aretex-darkblack: 28 27 31; /*#1C1B1F*/
    --aretex-heart: 255 73 73; /*#FF4949*/
    --aretex-happy: 253 202 75; /*#FDCA4B*/
    --aretex-inactive: 125 125 133; /*#7d7d85*/
  }

  .dark {
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
  }
}
